input.ac-input-default{
    width: 350px;
    transition: all .25s ease-out;
    color: #4a5568;
    padding: 10px 20px 10px 20px;
    line-height: 1.5;
    border-width: 1px;
    border-radius: .5rem;
    border-color: transparent;
    background-color: #edf2f7;
    font-family: sans-serif;
    font-size: 15px;
}
input.ac-input-default:focus{
    outline: none;
    background-color: white;
    border: 1px solid #edf2f7;
}
.ac-wrapper input.ac-list-open{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ac-wrapper .ac-suggestion-list{ 
    font-family: sans-serif;
    font-size: 15px;
    color: #4a5568;
    box-sizing: border-box;
}
.ac-wrapper .ac-suggestion-list div.autocomplete-text { 
    padding: 10px 20px 10px 20px;
    line-height: 1.5;
}
.ac-wrapper .ac-autocomplete-clear-icon{
    width: 40px;
}
.ac-wrapper .ac-autocomplete-loading-icon{
    right: 40px; 
}
.ac-wrapper .ac-suggestion-list div.autocomplete-mobile-icon { 
    width: 40px;
}