.ac-hidden{
    display: none;
}
.ac-wrapper{
    position: relative;
    display: inline-block;
}
.ac-wrapper input{
    padding-right: 20px;
}
.ac-wrapper input.ac-list-open{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ac-wrapper .ac-suggestion-list{ 
    font-family: sans-serif;
    font-size: 15px;
    color: #4a5568;
    width: 100%;
    position: absolute;
    left: 0px;
    text-align: left;
    background-color: white;
    max-width: 100%;
    z-index: 5;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    border-top: none;
    box-sizing: border-box;
}
.ac-wrapper .ac-autocomplete-clear-icon{
    position: absolute;
    top: 0;
    right: 10px; 
    width: 20px;
    height: 100%;
    background-image: url(../img/clear.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.ac-wrapper .ac-autocomplete-clear-icon:hover{
    cursor: pointer;
}
.ac-wrapper .ac-autocomplete-loading-icon{
    position: absolute;
    top: 0;
    right: 40px; 
    width: 20px;
    height: 100%;
    background-image: url(../img/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.ac-wrapper .ac-suggestion-list div.autocomplete-result { 
    max-width: 100%;
    display: flex;
}
.ac-wrapper .ac-suggestion-list div:hover { 
    cursor: pointer;
    background-color: whitesmoke;
}
.ac-wrapper .ac-suggestion-list div.active { 
    background-color: #e4e2e2;
}
.ac-wrapper .ac-suggestion-list div.autocomplete-text { 
    padding: 10px 20px 10px 20px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}
.ac-wrapper .ac-suggestion-list div.autocomplete-mobile-icon { 
    display: none;
    flex-shrink: 0;
    width: 20px;
    padding: 0 10px;
    background-image: url(../img/arrow-top-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (max-width: 768px) {
    .ac-wrapper .ac-suggestion-list div.autocomplete-mobile-icon { 
        display: initial;
    }
}